/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    .top-element();
    .carousel-inner {
        overflow: hidden;
        position: relative;
        height: @carouselHeight;
        min-height: @carouselHeight;
        width: 100%;
        > .item {
            background: @black;
            > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-width: 100%;
                height: auto;
            }
            > .container {
                height: @carouselHeight;
                position: relative;
                .carousel-caption {
                    background: transparent;
                    position: absolute;
                    bottom: 0;
                    padding: @baseLineHeight @baseLineHeight * 4;
                    h2, .lead {
                        margin: 0;
                        color: #fff;
                        text-shadow: 0 1px 1px fade(@black, 40%);
                    }
                    h2 {
                        line-height: @baseLineHeight * 1.5;
                    }
                    p {
                        .body-copy;
                    }
                    .btn {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .carousel-control {
        font-size: 150px;
        font-weight: bold;
        margin-top: 0;
        text-shadow: 0 1px 1px fade(@white, 80%);
        background-color: transparent;
        border: 0;
    }
}
