html, body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#page-content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -@footerHeight auto;
}

/* Set the fixed height of the footer here */
#push,
footer {
    height: @footerHeight + @baseLineHeight;
}
footer {
    padding-top: @baseFontSize;
    background-color: @grayLighter;
}
footer .contact-info {
    dt, dd {
        font-size: @fontSizeSmall;
        line-height: @baseLineHeight * 0.75;
    }
    .dl-horizontal;
}
footer .contact-info dt,
footer #social-media p {
    color: @black;
    font-weight: bold;
    text-transform: uppercase;
}
footer #social-media {
    ul {
        .pull-right;
    }
    p {
        text-align: right;
    }
    ul li:last-child {
        padding-right: 0;
    }
}
