/*
Custom css for image rotator; keeping this separate from all other css
since it will often change
*******************************************************************************/
@import "variables.less";
@import "../etc/bootstrap/less/mixins.less";

@media (min-width: @minPageSize) {
    #carousel-02 {
        .carousel-caption {
            left: 50%;
            text-align: right;
            background: fade(@black, 70%);
            bottom: -50%;
            top: -10%;
            .rotate(10deg);
            h2, p, .btn {
                .rotate(-10deg);
            }
            h2 {
                margin-right: @basePaddingH;
                margin-top: 40%;
                font-family: @serifFontFamily;
                font-weight: normal;
                font-style: italic;
            }
            p {
                font-size: @baseFontSize;
            }
        }
    }
}
