/*
Custom css for student section; keeping this separate from all other css
since it will often change
*******************************************************************************/
@import "variables.less";
@import "mixins.less";
@import "../etc/bootstrap/less/mixins.less";
@import "../etc/bootstrap/less/utilities.less";

.page-lead {
    height: @carouselHeight;
    .top-element();
    .page-info {
        padding: 0 @baseLineHeight * 3;
        float: right;
        height: @carouselHeight;
        #gradient > .vertical(lighten(@yellow, 5%), lighten(@yellow, 12%));
        h2 {
            text-align: right;
            font-size: @baseFontSize * 4;
            color: @white;
        }
        #grid > .core > .span(3);
    }
}
.navbar {
    margin-top: @carouselHeight;
}
#news h2 {
    font-size: @baseFontSize * 1.1;
    color: @blueDark;
}
.student-summary {
    .clearfix;
    header {
        .pull-left;
        padding-right: @baseLineHeight;
    }
}

@media (max-width: @maxTabletSize){
    .page-lead {
        background: none;
        margin-top: 0;
        height: auto;
        .page-info {
            margin: 0;
            padding: 0;
            padding-right: @baseLineHeight;
            text-align: right;
            background: none;
            height: auto;
            .page-info-contents {
                display: none;
            }
            h2 {
                position: absolute;
                top: 0;
                display: block;
                color: lighten(@blueDark, 10%);
            }
        }
    }
}
@media (min-width: @minPageSize) {
    .main-header {
        position: absolute;
        top: 0;
    }
}
@media (max-width: @maxMobileSize) {
    .page-lead {padding-bottom: @baseLineHeight * 2;}
    .page-info {
        h2 {
            position: static !important;
        }
    }
    .student-summary {
        header {
            float: none;
            img {
                width: auto;
            }
        }
    }
}
