/*

    CBS Web template LESS file
    
Using LESS (http://www.lesscss.org/) to generate a semantic, maintainable
css using twitter's bootstrap (http://twitter.github.io/bootstrap/index.html) a
starting point. 

To put it all together, you'll need node.js and it's package manager, npm
installed. Instructions are located at (http://nodejs.org/). Once those are
installed, you can install less by running `npm install less`. I'm using recess
to compile less, since it compiles and compresses. You can install recess with
`npm install recess`, then check out fabfile.py for how to run recess from the
command line. 

*/

/*
Importing bootstrap first, then moving on to custom stuff
*******************************************************************************/
@import "../etc/bootstrap/less/bootstrap.less";

@import "variables.less";
@import "mixins.less";
@import "carousel.less";
@import "footer.less";
@import "nav.less";



/*
Global site styles
*******************************************************************************/
p {
    line-height: @baseLineHeight;
}
h1, h2, h3, h4, h5, h6 {
    a {
        color: @black;
    }
}
.btn {
    border: none;
    .border-radius(0);
    .box-shadow(none);
}
blockquote, blockquote p, blockquote span {
    color: @blue;
    font-family: @serifFontFamily;
    font-size: @baseLineHeight !important;
    text-indent: none;
    font-style: italic;
}
.bulk-list li {
    margin-bottom: @baseLineHeight;
}
.publication-list {
    a[href$='.pdf'] {
        display: inline-block;
        padding-right: @basePaddingH;
        background: transparent url('/img/icon/book_go.png') top right no-repeat;
    }
}
.main-header {
    background: fade(@white, 90%);
    z-index: @zindexLogoBrand;
    .logo-heading {
        h1 {
            margin: @paddingLarge;
        }
        img {
            width: 300px;
            vertical-align: top;
        }
    }
    .department-heading {
        a:hover {
            text-decoration: none;
        }
        h2 {
            font-size: @baseFontSize * 1.9;
            text-align: right;
            padding-right: @basePaddingH;
        }
        h2.subheading {
            font-family: @baseFontFamily;
            font-size: @baseFontSize;
            font-weight: normal;
        }
    }
}
.main {
    margin-top: @baseLineHeight * 2;
}
.more-link {
    line-height: @baseLineHeight * 2;
    font-size: @fontSizeSmall;
    .pull-right;
}
.byline {
    color: @gray;
    font-style: italic;
    a {
        font-style: normal;
    }
}
.summary, blockquote > span {
    color: @gray;
    font-size: @baseFontSize * 1.7;
    line-height: @baseLineHeight * 1.5;
    padding-bottom: @baseLineHeight;
    font-family: @serifFontFamily;
}
.section-heading {
    text-transform: uppercase;
}
.sidebar, .department-heading {
    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
    }
}
section, .sidebar {
    .clearfix;
}
section {
    margin-top: @baseLineHeight;
    .section-heading {
        display: inline;
        font-size: @fontSizeLarge;
    }
    .rss-link img {
        margin-top: -4px;
    }
}
article {
    margin-bottom: @baseLineHeight * 2;
    header {
        max-height: @baseLineHeight * 10;
        overflow: hidden;
        position: relative;
        a {
            img {
                width: 100%;
                ~ h2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    padding-left: 20px;
                }
            }
            h2 {
                display: inline-block;
                .article-title-style;
            }
        }
    }
    p img {
        padding: @paddingLarge;
        line-height: @baseLineHeight;
    }
    p img.pull-left {padding-left: 0;}
    p img.pull-right {padding-right: 0;}

}
.btn-styled {
    text-transform: uppercase;
    font-family: @headingsFontFamily;
    font-weight: @headingsFontWeight;
}
.assistive-text {
    display: block;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/*    Wordpress-specific image alignment styles     */
img.alignright {float:right; margin:0 0 @baseFontSize @baseFontSize}
img.alignleft {float:left; margin:0 @baseFontSize @baseFontSize 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}
