/*
    CBS Site templates
    Copyright The Regents of the University of California, Davis 
    all rights reserved
    
    Designed and built by Information & Educational Technology
    University of California, Davis
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to
    deal in the Software without restriction, including without limitation the
    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
    sell copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
    IN THE SOFTWARE.
    
*/
/*

    CBS Web template Responsive LESS file
    
Responsive template for CBS Web presence. For more information, see 'style.less'

*/

/*
Importing bootstrap first, then moving on to custom stuff
*******************************************************************************/

/*!
 * Bootstrap Responsive v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 35px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .row {
    margin-left: -25px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 25px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1115px;
  }
  .span12 {
    width: 1115px;
  }
  .span11 {
    width: 1020px;
  }
  .span10 {
    width: 925px;
  }
  .span9 {
    width: 830px;
  }
  .span8 {
    width: 735px;
  }
  .span7 {
    width: 640px;
  }
  .span6 {
    width: 545px;
  }
  .span5 {
    width: 450px;
  }
  .span4 {
    width: 355px;
  }
  .span3 {
    width: 260px;
  }
  .span2 {
    width: 165px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1165px;
  }
  .offset11 {
    margin-left: 1070px;
  }
  .offset10 {
    margin-left: 975px;
  }
  .offset9 {
    margin-left: 880px;
  }
  .offset8 {
    margin-left: 785px;
  }
  .offset7 {
    margin-left: 690px;
  }
  .offset6 {
    margin-left: 595px;
  }
  .offset5 {
    margin-left: 500px;
  }
  .offset4 {
    margin-left: 405px;
  }
  .offset3 {
    margin-left: 310px;
  }
  .offset2 {
    margin-left: 215px;
  }
  .offset1 {
    margin-left: 120px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 35px;
    margin-left: 2.242152466367713%;
    *margin-left: 2.191901210086306%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.242152466367713%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94974874371859%;
  }
  .row-fluid .span11 {
    width: 91.4798206278027%;
    *width: 91.42956937152128%;
  }
  .row-fluid .span10 {
    width: 82.95964125560539%;
    *width: 82.90938999932398%;
  }
  .row-fluid .span9 {
    width: 74.43946188340807%;
    *width: 74.38921062712666%;
  }
  .row-fluid .span8 {
    width: 65.91928251121077%;
    *width: 65.86903125492935%;
  }
  .row-fluid .span7 {
    width: 57.39910313901345%;
    *width: 57.34885188273204%;
  }
  .row-fluid .span6 {
    width: 48.87892376681614%;
    *width: 48.82867251053474%;
  }
  .row-fluid .span5 {
    width: 40.35874439461884%;
    *width: 40.30849313833743%;
  }
  .row-fluid .span4 {
    width: 31.838565022421527%;
    *width: 31.78831376614012%;
  }
  .row-fluid .span3 {
    width: 23.318385650224215%;
    *width: 23.26813439394281%;
  }
  .row-fluid .span2 {
    width: 14.798206278026907%;
    *width: 14.747955021745499%;
  }
  .row-fluid .span1 {
    width: 6.278026905829597%;
    *width: 6.22777564954819%;
  }
  .row-fluid .offset12 {
    margin-left: 104.48430493273543%;
    *margin-left: 104.3838024201726%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.24215246636771%;
    *margin-left: 102.14164995380489%;
  }
  .row-fluid .offset11 {
    margin-left: 95.96412556053812%;
    *margin-left: 95.8636230479753%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 93.72197309417041%;
    *margin-left: 93.62147058160758%;
  }
  .row-fluid .offset10 {
    margin-left: 87.44394618834082%;
    *margin-left: 87.34344367577799%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.2017937219731%;
    *margin-left: 85.10129120941028%;
  }
  .row-fluid .offset9 {
    margin-left: 78.9237668161435%;
    *margin-left: 78.82326430358067%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.68161434977578%;
    *margin-left: 76.58111183721296%;
  }
  .row-fluid .offset8 {
    margin-left: 70.4035874439462%;
    *margin-left: 70.30308493138337%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.16143497757848%;
    *margin-left: 68.06093246501565%;
  }
  .row-fluid .offset7 {
    margin-left: 61.883408071748875%;
    *margin-left: 61.78290555918606%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.64125560538116%;
    *margin-left: 59.54075309281835%;
  }
  .row-fluid .offset6 {
    margin-left: 53.36322869955157%;
    *margin-left: 53.26272618698876%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.12107623318386%;
    *margin-left: 51.020573720621044%;
  }
  .row-fluid .offset5 {
    margin-left: 44.843049327354265%;
    *margin-left: 44.74254681479145%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.60089686098655%;
    *margin-left: 42.50039434842374%;
  }
  .row-fluid .offset4 {
    margin-left: 36.32286995515695%;
    *margin-left: 36.22236744259414%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.08071748878924%;
    *margin-left: 33.98021497622643%;
  }
  .row-fluid .offset3 {
    margin-left: 27.80269058295964%;
    *margin-left: 27.70218807039683%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.56053811659193%;
    *margin-left: 25.460035604029116%;
  }
  .row-fluid .offset2 {
    margin-left: 19.282511210762333%;
    *margin-left: 19.182008698199517%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.04035874439462%;
    *margin-left: 16.939856231831804%;
  }
  .row-fluid .offset1 {
    margin-left: 10.762331838565022%;
    *margin-left: 10.661829326002207%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.52017937219731%;
    *margin-left: 8.419676859634494%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 25px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 1101px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 1006px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 911px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 816px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 721px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 626px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 531px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 436px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 341px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 246px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 151px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 56px;
  }
  .thumbnails {
    margin-left: -25px;
  }
  .thumbnails > li {
    margin-left: 25px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 764px;
  }
  .offset11 {
    margin-left: 702px;
  }
  .offset10 {
    margin-left: 640px;
  }
  .offset9 {
    margin-left: 578px;
  }
  .offset8 {
    margin-left: 516px;
  }
  .offset7 {
    margin-left: 454px;
  }
  .offset6 {
    margin-left: 392px;
  }
  .offset5 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 268px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 144px;
  }
  .offset1 {
    margin-left: 82px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 35px;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.7121796829451124%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94974874371859%;
  }
  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38621283211637%;
  }
  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.82267692051417%;
  }
  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25914100891195%;
  }
  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69560509730975%;
  }
  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.13206918570754%;
  }
  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.568533274105334%;
  }
  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.004997362503126%;
  }
  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.441461450900917%;
  }
  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.877925539298705%;
  }
  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.314389627696492%;
  }
  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.750853716094284%;
  }
  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.42435936589021%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.66192842666369%;
  }
  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.860823454288%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09839251506148%;
  }
  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2972875426858%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.53485660345927%;
  }
  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.73375163108358%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.97132069185706%;
  }
  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.17021571948138%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40778478025486%;
  }
  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.606679807879175%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.844248868652656%;
  }
  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.043143896276966%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.28071295705045%;
  }
  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47960798467476%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71717704544824%;
  }
  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91607207307255%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.15364113384603%;
  }
  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.352536161470336%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.590105222243817%;
  }
  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.789000249868124%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.026569310641605%;
  }
  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.225464338265914%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.463033399039395%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 710px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 648px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 586px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 524px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 462px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 400px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 338px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 276px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 214px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 152px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 90px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 28px;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 35px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}

@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 25px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-right: 10px;
    padding-left: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    display: block;
    float: none;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    right: 10px;
    left: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: 25px;
  }
  .navbar-fixed-bottom {
    margin-top: 25px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 12.5px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: #ffffff;
  }
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #999999;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111;
  }
  .nav-collapse.in .btn-group {
    padding: 0;
    margin-top: 5px;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    display: none;
    float: none;
    max-width: none;
    padding: 0;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .nav-collapse .open > .dropdown-menu {
    display: block;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 12.5px 15px;
    margin: 12.5px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar-static .navbar-inner {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

/*
Mixins
*******************************************************************************/

.dl-horizontal dt {
  width: auto;
}

.dl-horizontal dd {
  margin-left: 100px;
}

.body-copy {
  text-align: justify;
  text-justify: inter-word;
}

.article-title-style {
  width: auto;
  padding: 12px 20px;
  padding-left: 0;
  margin: 0;
  font-size: 19.5px;
  line-height: 25px;
  color: black;
  background: rgba(255, 255, 255, 0.85);
}

@media (min-width: 980px) {
  .main-header .department-heading h2 {
    line-height: .5;
  }
  .main-header .department-heading h2.subheading {
    line-height: 1;
  }
  .main-header.with-overlay {
    position: absolute;
    top: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .nav {
    width: auto !important;
  }
  .nav a {
    font-size: 11.049999999999999px;
  }
}

@media (max-width: 767px) {
  .main-header .logo-heading,
  .main-header .department-heading {
    width: auto;
  }
  .main-header .logo-heading img {
    max-width: 80%;
  }
  .navbar .nav-collapse .sub-menu {
    margin: 0;
  }
  .navbar .nav-collapse .dropdown-menu {
    display: block;
    font-weight: normal;
  }
  .navbar .nav-collapse .dropdown-menu a {
    padding-left: 50px;
  }
  .navbar .nav-collapse .nav {
    width: 100%;
  }
  .navbar .nav-collapse .nav li {
    float: left;
    width: 100%;
  }
  .navbar .nav-collapse .nav li a {
    text-align: left;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
  .navbar .nav-collapse .nav li a:hover {
    background-color: #004ca2;
  }
  #main-nav-btn {
    position: absolute;
    top: 12px;
    right: 20px;
    margin: 0;
  }
  .carousel .carousel-control {
    position: absolute;
    top: 25px;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .carousel .carousel-inner {
    height: auto;
    overflow: visible;
  }
  .carousel .carousel-inner > .item {
    height: auto;
    padding: 0;
    background: transparent;
  }
  .carousel .carousel-inner > .item > img {
    position: static;
    width: 100%;
  }
  .carousel .carousel-inner > .item > .container {
    height: auto;
  }
  .carousel .carousel-inner > .item > .container .carousel-caption {
    position: static;
    max-width: 100%;
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
    background: #ffffff;
  }
  .carousel .carousel-inner > .item > .container .carousel-caption p {
    font-size: 13px;
    color: #4c4c4c !important;
    text-align: justify;
    text-shadow: none !important;
    background: #ffffff;
    text-justify: inter-word;
  }
  .carousel .carousel-inner > .item > .container .carousel-caption h2 {
    position: static;
    width: auto;
    padding: 12px 20px;
    padding: 0;
    padding-top: 12.5px;
    padding-left: 0;
    margin: 0;
    font-size: 19.5px;
    font-size: 16.25px;
    line-height: 25px;
    color: black;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.85);
  }
  .section-heading {
    font-size: 28.4375px;
    color: #4c4c4c;
  }
  footer {
    height: auto !important;
    margin: -20px;
  }
  footer p {
    font-size: 11.049999999999999px;
  }
  footer .container {
    margin: 20px;
  }
  footer .contact-info dt {
    float: left;
  }
}

@media (max-width: 979px) {
  .main-header {
    position: static;
    z-index: 0;
    background: transparent;
  }
  .main-header .logo-heading h1 {
    margin-left: 0;
  }
  .main-header .department-heading {
    margin-bottom: 25px;
  }
  .main-header .department-heading h2 {
    padding-right: 0;
    line-height: inherit;
    text-align: left;
  }
  .navbar,
  .carousel,
  .page-header {
    margin-top: 0;
  }
  #site-search {
    width: 100%;
    padding-bottom: 0;
  }
  #site-search .search-query {
    display: block;
    width: 100%;
    min-height: 35px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .carousel .carousel-caption p {
    font-size: 13px;
  }
  .carousel .carousel-caption h2 {
    font-size: 19.5px;
    line-height: 25px;
  }
}
