/*
    CBS Site templates
    Copyright The Regents of the University of California, Davis 
    all rights reserved
    
    Designed and built by Information & Educational Technology
    University of California, Davis
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to
    deal in the Software without restriction, including without limitation the
    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
    sell copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
    IN THE SOFTWARE.
    
*/
/*
Custom css for student section; keeping this separate from all other css
since it will often change
*******************************************************************************/

/*
Mixins
*******************************************************************************/

.dl-horizontal dt {
  width: auto;
}

.dl-horizontal dd {
  margin-left: 100px;
}

.body-copy {
  text-align: justify;
  text-justify: inter-word;
}

.article-title-style {
  width: auto;
  padding: 12px 20px;
  padding-left: 0;
  margin: 0;
  font-size: 19.5px;
  line-height: 25px;
  color: black;
  background: rgba(255, 255, 255, 0.85);
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 35px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

.page-lead {
  height: 375px;
  margin-top: -456px;
}

.page-lead .page-info {
  float: right;
  width: 230px;
  height: 375px;
  padding: 0 75px;
  background-color: #f8c40a;
  background-image: -moz-linear-gradient(top, #f3be00, #ffcc18);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3be00), to(#ffcc18));
  background-image: -webkit-linear-gradient(top, #f3be00, #ffcc18);
  background-image: -o-linear-gradient(top, #f3be00, #ffcc18);
  background-image: linear-gradient(to bottom, #f3be00, #ffcc18);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3be00', endColorstr='#ffffcc18', GradientType=0);
}

.page-lead .page-info h2 {
  font-size: 52px;
  color: #ffffff;
  text-align: right;
}

.navbar {
  margin-top: 375px;
}

#news h2 {
  font-size: 14.3px;
  color: #002855;
}

.student-summary {
  *zoom: 1;
}

.student-summary:before,
.student-summary:after {
  display: table;
  line-height: 0;
  content: "";
}

.student-summary:after {
  clear: both;
}

.student-summary header {
  float: left;
  padding-right: 25px;
}

@media (max-width: 979px) {
  .page-lead {
    height: auto;
    margin-top: 0;
    background: none;
  }
  .page-lead .page-info {
    height: auto;
    padding: 0;
    padding-right: 25px;
    margin: 0;
    text-align: right;
    background: none;
  }
  .page-lead .page-info .page-info-contents {
    display: none;
  }
  .page-lead .page-info h2 {
    position: absolute;
    top: 0;
    display: block;
    color: #004088;
  }
}

@media (min-width: 980px) {
  .main-header {
    position: absolute;
    top: 0;
  }
}

@media (max-width: 767px) {
  .page-lead {
    padding-bottom: 50px;
  }
  .page-info h2 {
    position: static !important;
  }
  .student-summary header {
    float: none;
  }
  .student-summary header img {
    width: auto;
  }
}
